<!DOCTYPE html>
<html lang="en">
	
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
	<meta charset="utf-8">
	<!-- Favicon -->
	<link rel="icon" href="assets/img/brand/favicon.ico" type="image/x-icon" />
	<!-- Title -->
	<title>Dashlead - Admin Panel HTML Dashboard Template</title>
	<!---Fontawesome css-->
	<link href="assets/plugins/fontawesome-free/css/all.min.css" rel="stylesheet">
	<!---Ionicons css-->
	<link href="assets/plugins/ionicons/css/ionicons.min.css" rel="stylesheet">
	<!---Typicons css-->
	<link href="assets/plugins/typicons.font/typicons.css" rel="stylesheet">
	<!---Feather css-->
	<link href="assets/plugins/feather/feather.css" rel="stylesheet">
	<!---Style css-->
	<link href="assets/css/style.css" rel="stylesheet">
	<link href="assets/css/custom-style.css" rel="stylesheet">
	<!---Sidemenu css-->
	<link href="assets/plugins/sidemenu/sidemenu.css" rel="stylesheet">
	<!---Switcher css-->
	<link href="assets/switcher/css/switcher.css" rel="stylesheet">
	<link href="assets/switcher/demo.css" rel="stylesheet">
	<body>	
		<!-- Loader -->
		<div id="global-loader">
			<img src="assets/img/loader.svg" class="loader-img" alt="Loader">
		</div>
		<!-- End Loader -->

		<!-- Page -->
		<div class="page">
			<!-- Sidemenu -->
			<div class="main-sidebar main-sidebar-sticky side-menu">
				<div class="sidemenu-logo">
					<a class="main-logo" href="index.html">
						<img src="assets/img/brand/logo.png" class="header-brand-img desktop-logo" alt="logo">
						<img src="assets/img/brand/icon.png" class="header-brand-img icon-logo" alt="logo">
						<img src="assets/img/brand/logo-light.png" class="header-brand-img desktop-logo theme-logo"
							alt="logo">
						<img src="assets/img/brand/icon-light.png" class="header-brand-img icon-logo theme-logo" alt="logo">
					</a>
				</div>
				<div class="main-sidebar-body">
					<ul class="nav">
						<li class="nav-label">Dashboard</li>
						<li class="nav-item show">
							<a class="nav-link" href="index.html"><i class="fe fe-airplay"></i><span
									class="sidemenu-label">Dashboard</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link with-sub" href="#"><i class="fe fe-box"></i><span
									class="sidemenu-label">Pages</span><i class="angle fe fe-chevron-right"></i></a>
							<ul class="nav-sub">
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="chart-chartjs.html">Charts</a>
								</li>
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="./alerts.html">Alerts</a>
								</li>
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="./buttons.html">Button</a>
								</li>
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="icons.html"><i class="fe fe-award"></i><span
									class="sidemenu-label">Icons</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link with-sub" href="#"><i class="fe fe-map-pin"></i><span
									class="sidemenu-label">Forms</span><i class="angle fe fe-chevron-right"></i></a>
							<ul class="nav-sub">
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="./form-validation.html">Form Validation</a>
								</li>
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="./form-advanced.html">Form Advance</a>
								</li>
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link with-sub" href="#"><i class="fe fe-layout"></i><span
									class="sidemenu-label">Tables</span><i class="angle fe fe-chevron-right"></i></a>
							<ul class="nav-sub">
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="./icons.html">Icons</a>
								</li>
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="table-data.html">Data Tables</a>
								</li>
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="invoice.html">Invoice</a>
								</li>
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="modals.html">Modals</a>
								</li>
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="profile.html">Profile</a>
								</li>
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="userlist.html">Data Tables</a>
								</li>
							</ul>
						</li>
						<li class="nav-label">Other Pages</li>
						<li class="nav-item">
							<a class="nav-link with-sub" href="#"><i class="fe fe-aperture"></i><span
									class="sidemenu-label">Custom Pages</span><i class="angle fe fe-chevron-right"></i></a>
							<ul class="nav-sub">
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="signin.html">Sign In</a>
								</li>
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="signup.html">Sign Up</a>
								</li>
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="forgot.html">Forgot Password</a>
								</li>
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="404.html">404 Error</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<!-- End Sidemenu -->
			<!-- Main Content-->
			<div class="main-content side-content pt-0">
				<!-- Main Header-->
				<div class="main-header side-header sticky">
					<div class="container-fluid">
						<div class="main-header-left">
							<a class="main-logo d-lg-none" href="index.html">
								<img src="assets/img/brand/logo.png" class="header-brand-img desktop-logo" alt="logo">
								<img src="assets/img/brand/icon.png" class="header-brand-img icon-logo" alt="logo">
								<img src="assets/img/brand/logo-light.png" class="header-brand-img desktop-logo theme-logo"
									alt="logo">
								<img src="assets/img/brand/icon-light.png" class="header-brand-img icon-logo theme-logo"
									alt="logo">
							</a>
							<a class="main-header-menu-icon" href="#" id="mainSidebarToggle"><span></span></a>
						</div>
						<div class="main-header-right">
							<div class="dropdown d-md-flex">
								<a class="nav-link icon full-screen-link">
									<i class="fe fe-maximize fullscreen-button"></i>
								</a>
							</div>
							<div class="dropdown main-profile-menu">
								<a class="main-img-user" href="#"><img alt="avatar" src="assets/img/users/1.jpg"></a>
								<div class="dropdown-menu">
									<div class="header-navheading">
										<h6 class="main-notification-title">Sonia Taylor</h6>
										<p class="main-notification-text">Web Designer</p>
									</div>
									<a class="dropdown-item border-top" href="#">
										<i class="fe fe-user"></i> My Profile
									</a>
									<a class="dropdown-item" href="#">
										<i class="fe fe-edit"></i> Edit Profile
									</a>
									<a class="dropdown-item" href="#">
										<i class="fe fe-settings"></i> Account Settings
									</a>
									<a class="dropdown-item" href="#">
										<i class="fe fe-settings"></i> Support
									</a>
									<a class="dropdown-item" href="#">
										<i class="fe fe-compass"></i> Activity
									</a>
									<a class="dropdown-item" href="signin-2.html">
										<i class="fe fe-power"></i> Sign Out
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Main Header-->
				<div class="container-fluid">
										<!-- Page Header -->
					<div class="page-header">
						<div>
							<h2 class="main-content-title tx-24 mg-b-5">Icons</h2>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#">Apps</a></li>
								<li class="breadcrumb-item active" aria-current="page">Icons</li>
							</ol>
						</div>
						<div class="btn btn-list">
							<a class="btn ripple btn-primary" href="#"><i class="fe fe-external-link"></i> Export</a>
							<a class="btn ripple btn-secondary" href="#"><i class="fe fe-download"></i> Download</a>
							<a class="btn ripple btn-info" href="#"><i class="fe fe-help-circle"></i> Help</a>
							<a class="btn ripple btn-danger dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
								<i class="fe fe-settings"></i> Settings <i class="fas fa-caret-down ml-1"></i>
							</a>
							<div  class="dropdown-menu tx-13">
								<a class="dropdown-item" href="#"><i class="fe fe-eye mr-2"></i>View</a>
								<a class="dropdown-item" href="#"><i class="fe fe-plus-circle mr-2"></i>Add</a>
								<a class="dropdown-item" href="#"><i class="fe fe-mail mr-2"></i>Email</a>
								<a class="dropdown-item" href="#"><i class="fe fe-folder-plus mr-2"></i>Save</a>
								<a class="dropdown-item" href="#"><i class="fe fe-trash-2 mr-2"></i>Remove</a>
								<a class="dropdown-item" href="#"><i class="fe fe-settings mr-2"></i>More</a>
							</div>
						</div>
					</div>
					<!-- End Page Header -->
										<!-- Row -->
					<div class="row">
						<div class="col-lg-12 col-md-12">
							<div class="card custom-card">
								<div class="card-body">
									<div>
										<h6 class="card-title mb-1">FontAwesome5 Free Icons</h6>
										<p class="text-muted mb-2 card-sub-title">The world’s most popular and easiest to use icon set just got an upgrade. More icons, More styles, More options .<span class="text-dark">See more FontAwesome icons at <a href="https://fontawesome.com/icons" target="_blank">FontAwesome Icons.</a></span></p>
										<p><code>&lt;i class="far fa-ICON_NAME"&gt;&lt;/i&gt;</code>,  <code>&lt;i class="fab fa-ICON_NAME"&gt;&lt;/i&gt;</code></p>
									</div>
									<div class="main-icon-group main-icon-list">
										<ul class="icons-list">
											<li class="icons-list-item"><i class="far fa-address-book"></i></li>
											<li class="icons-list-item"><i class="far fa-address-card"></i></li>
											<li class="icons-list-item"><i class="far fa-arrow-alt-circle-down"></i></li>
											<li class="icons-list-item"><i class="far fa-arrow-alt-circle-left"></i></li>
											<li class="icons-list-item"><i class="far fa-arrow-alt-circle-up"></i></li>
											<li class="icons-list-item"><i class="far fa-arrow-alt-circle-right"></i></li>
											<li class="icons-list-item"><i class="fas fa-ban"></i></li>
											<li class="icons-list-item"><i class="far fa-bell"></i></li>
											<li class="icons-list-item"><i class="far fa-bell-slash"></i></li>
											<li class="icons-list-item"><i class="far fa-bookmark"></i></li>
											<li class="icons-list-item"><i class="far fa-calendar"></i></li>
											<li class="icons-list-item"><i class="far fa-calendar-check"></i></li>
											<li class="icons-list-item"><i class="far fa-check-circle"></i></li>
											<li class="icons-list-item"><i class="far fa-clock"></i></li>
											<li class="icons-list-item"><i class="far fa-clone"></i></li>
											<li class="icons-list-item"><i class="far fa-comment"></i></li>
											<li class="icons-list-item"><i class="far fa-compass"></i></li>
											<li class="icons-list-item"><i class="far fa-envelope"></i></li>
											<li class="icons-list-item"><i class="fas fa-envelope-open-text"></i></li>
											<li class="icons-list-item"><i class="far fa-eye"></i></li>
											<li class="icons-list-item"><i class="far fa-eye-slash"></i></li>
											<li class="icons-list-item"><i class="far fa-file-alt"></i></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="card custom-card">
								<div class="card-body">
									<div>
										<h6 class="card-title mb-1">Ionicons Icons</h6>
										<p class="text-muted mb-2 card-sub-title">Premium designed icons for use in web, iOS, Android, and desktop apps. Support for SVG and web font.<span class="text-dark">See more Ionicons icons at <a href="https://ionicons.com/" target="_blank">Ionicons</a></span></p>
										<p><code>&lt;i class="icon ion-ICON_NAME"&gt;&lt;/i&gt;</code></p>
									</div>
									<div class="main-icon-group main-icon-list">
										<ul class="icons-list">
											<li class="icons-list-item"><i class="icon ion-md-alarm"></i></li>
											<li class="icons-list-item"><i class="icon ion-md-chatboxes"></i></li>
											<li class="icons-list-item"><i class="icon ion-md-copy"></i></li>
											<li class="icons-list-item"><i class="icon ion-md-cube"></i></li>
											<li class="icons-list-item"><i class="icon ion-md-filing"></i></li>
											<li class="icons-list-item"><i class="icon ion-md-eye"></i></li>
											<li class="icons-list-item"><i class="icon ion-md-globe"></i></li>
											<li class="icons-list-item"><i class="icon ion-md-images"></i></li>
											<li class="icons-list-item"><i class="icon ion-md-laptop"></i></li>
											<li class="icons-list-item"><i class="icon ion-md-paper"></i></li>
											<li class="icons-list-item"><i class="icon ion-md-paper-plane"></i></li>
											<li class="icons-list-item"><i class="icon ion-md-pricetags"></i></li>
											<li class="icons-list-item"><i class="icon ion-ios-settings"></i></li>
											<li class="icons-list-item"><i class="icon ion-ios-stats"></i></li>
											<li class="icons-list-item"><i class="icon ion-ios-share-alt"></i></li>
											<li class="icons-list-item"><i class="icon ion-ios-rocket"></i></li>
											<li class="icons-list-item"><i class="icon ion-ios-rainy"></i></li>
											<li class="icons-list-item"><i class="icon ion-ios-print"></i></li>
											<li class="icons-list-item"><i class="icon ion-ios-pie"></i></li>
											<li class="icons-list-item"><i class="icon ion-ios-mic"></i></li>
											<li class="icons-list-item"><i class="icon ion-ios-locate"></i></li>
											<li class="icons-list-item"><i class="icon ion-ios-list-box"></i></li>
											<li class="icons-list-item"><i class="icon ion-ios-home"></i></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="card custom-card">
								<div class="card-body">
									<div>
										<h6 class="card-title mb-1">Typicons Icons</h6>
										<p class="text-muted mb-2 card-sub-title">Typicons are free-to-use vector icons embedded in a webfont for easy use in any UI, whether it be on the web or in a native app.<span class="text-dark">See more Typicons icons at <a href="https://www.s-ings.com/typicons/" target="_blank">Typicons Icons</a></span></p>
										<p><code>&lt;i class="typcn typcn-ICON_NAME"&gt;&lt;/i&gt;</code></p>
									</div>
									<div class="main-icon-group main-icon-list">
										<ul class="icons-list">
											<li class="icons-list-item"><i class="typcn typcn-archive"></i></li>
											<li class="icons-list-item"><i class="typcn typcn-arrow-back-outline"></i></li>
											<li class="icons-list-item"><i class="typcn typcn-arrow-right-outline"></i></li>
											<li class="icons-list-item"><i class="typcn typcn-bell"></i></li>
											<li class="icons-list-item"><i class="typcn typcn-book"></i></li>
											<li class="icons-list-item"><i class="typcn typcn-bookmark"></i></li>
											<li class="icons-list-item"><i class="typcn typcn-briefcase"></i></li>
											<li class="icons-list-item"><i class="typcn typcn-calendar-outline"></i></li>
											<li class="icons-list-item"><i class="typcn typcn-camera-outline"></i></li>
											<li class="icons-list-item"><i class="typcn typcn-chart-pie-outline"></i></li>
											<li class="icons-list-item"><i class="typcn typcn-coffee"></i></li>
											<li class="icons-list-item"><i class="typcn typcn-document-add"></i></li>
											<li class="icons-list-item"><i class="typcn typcn-document-delete"></i></li>
											<li class="icons-list-item"><i class="typcn typcn-document-text"></i></li>
											<li class="icons-list-item"><i class="typcn typcn-edit"></i></li>
											<li class="icons-list-item"><i class="typcn typcn-export-outline"></i></li>
											<li class="icons-list-item"><i class="typcn typcn-flash-outline"></i></li>
											<li class="icons-list-item"><i class="typcn typcn-folder-open"></i></li>
											<li class="icons-list-item"><i class="typcn typcn-folder"></i></li>
											<li class="icons-list-item"><i class="typcn typcn-group-outline"></i></li>
											<li class="icons-list-item"><i class="typcn typcn-mail"></i></li>
											<li class="icons-list-item"><i class="typcn typcn-message"></i></li>
											<li class="icons-list-item"><i class="typcn typcn-shopping-cart"></i></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="card custom-card">
								<div class="card-body">
									<div>
										<h6 class="card-title mb-1">Feather Icons</h6>
										<p class="text-muted mb-2 card-sub-title">Simply beautiful open source icons.<span class="text-dark">See more feather icons at <a href="https://feathericons.com/" target="_blank">Feather Icons</a></span></p>
										<p><code>&lt;i class="fe fe-ICON_NAME"&gt;&lt;/i&gt;</code></p>
									</div>
									<div class="main-icon-group main-icon-list">
										<ul class="icons-list">
											<li class="icons-list-item"><i class="fe fe-airplay"></i></li>
											<li class="icons-list-item"><i class="fe fe-alert-triangle"></i></li>
											<li class="icons-list-item"><i class="fe fe-align-left"></i></li>
											<li class="icons-list-item"><i class="fe fe-align-right"></i></li>
											<li class="icons-list-item"><i class="fe fe-anchor"></i></li>
											<li class="icons-list-item"><i class="fe fe-aperture"></i></li>
											<li class="icons-list-item"><i class="fe fe-at-sign"></i></li>
											<li class="icons-list-item"><i class="fe fe-award"></i></li>
											<li class="icons-list-item"><i class="fe fe-bell"></i></li>
											<li class="icons-list-item"><i class="fe fe-bell-off"></i></li>
											<li class="icons-list-item"><i class="fe fe-book"></i></li>
											<li class="icons-list-item"><i class="fe fe-book-open"></i></li>
											<li class="icons-list-item"><i class="fe fe-box"></i></li>
											<li class="icons-list-item"><i class="fe fe-briefcase"></i></li>
											<li class="icons-list-item"><i class="fe fe-calendar"></i></li>
											<li class="icons-list-item"><i class="fe fe-camera"></i></li>
											<li class="icons-list-item"><i class="fe fe-cast"></i></li>
											<li class="icons-list-item"><i class="fe fe-chrome"></i></li>
											<li class="icons-list-item"><i class="fe fe-clipboard"></i></li>
											<li class="icons-list-item"><i class="fe fe-clock"></i></li>
											<li class="icons-list-item"><i class="fe fe-codepen"></i></li>
											<li class="icons-list-item"><i class="fe fe-compass"></i></li>
											<li class="icons-list-item"><i class="fe fe-cpu"></i></li>
											<li class="icons-list-item"><i class="fe fe-credit-card"></i></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- End Row -->

				</div>
			</div>
			<!-- End Main Content-->
            		<!-- Main Footer-->
			<div class="main-footer text-center">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<span>Copyright © 2019 <a href="#">Dashlead</a>. Designed by <a href="https://www.spruko.com/">Spruko</a> All rights reserved.</span>
						</div>
					</div>
				</div>
			</div>
			<!--End Footer-->
		</div>
		<!-- End Page -->
		<!-- Back-to-top -->
		<a href="#top" id="back-to-top"><i class="fe fe-arrow-up"></i></a>

	<!-- Jquery js-->
	<script src="assets/plugins/jquery/jquery.min.js"></script>

	<!-- Bootstrap js-->
	<script src="assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Ionicons js-->
	<script src="assets/plugins/ionicons/ionicons.js"></script>

	<!-- Chart.Bundle js-->
	<script src="assets/plugins/chart.js/Chart.bundle.min.js"></script>
	<!-- index -->
	<script src="assets/js/index.js"></script>

	<!-- Perfect-scrollbar js-->
	<script src="assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>

	<!-- Sidemenu js-->
	<script src="assets/plugins/sidemenu/sidemenu.js"></script>

	<!-- Switcher js-->
	<script src="assets/switcher/js/switcher.js"></script>
	<!-- Custom js-->
	<script src="assets/js/custom.js"></script>

	
	</body>
</html>