<!DOCTYPE html>
<html lang="en">
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>

	<meta charset="utf-8">
	<!-- Favicon -->
	<link rel="icon" href="assets/img/brand/favicon.ico" type="image/x-icon" />
	<!-- Title -->
	<title>Dashlead - Admin Panel HTML Dashboard Template</title>
	<!---Fontawesome css-->
	<link href="assets/plugins/fontawesome-free/css/all.min.css" rel="stylesheet">
	<!---Ionicons css-->
	<link href="assets/plugins/ionicons/css/ionicons.min.css" rel="stylesheet">
	<!---Typicons css-->
	<link href="assets/plugins/typicons.font/typicons.css" rel="stylesheet">
	<!---Feather css-->
	<link href="assets/plugins/feather/feather.css" rel="stylesheet">
	<!---Style css-->
	<link href="assets/css/style.css" rel="stylesheet">
	<link href="assets/css/custom-style.css" rel="stylesheet">
	<!---Sidemenu css-->
	<link href="assets/plugins/sidemenu/sidemenu.css" rel="stylesheet">
	<!---Switcher css-->
	<link href="assets/switcher/css/switcher.css" rel="stylesheet">
	<link href="assets/switcher/demo.css" rel="stylesheet">
</head>
	<body>
		<!-- Loader -->
		<div id="global-loader">
			<img src="assets/img/loader.svg" class="loader-img" alt="Loader">
		</div>
		<!-- End Loader -->

		<!-- Page -->
		<div class="page">
			<!-- Sidemenu -->
			<div class="main-sidebar main-sidebar-sticky side-menu">
				<div class="sidemenu-logo">
					<a class="main-logo" href="index.html">
						<img src="assets/img/brand/logo.png" class="header-brand-img desktop-logo" alt="logo">
						<img src="assets/img/brand/icon.png" class="header-brand-img icon-logo" alt="logo">
						<img src="assets/img/brand/logo-light.png" class="header-brand-img desktop-logo theme-logo"
							alt="logo">
						<img src="assets/img/brand/icon-light.png" class="header-brand-img icon-logo theme-logo" alt="logo">
					</a>
				</div>
				<div class="main-sidebar-body">
					<ul class="nav">
						<li class="nav-label">Dashboard</li>
						<li class="nav-item show">
							<a class="nav-link" href="index.html"><i class="fe fe-airplay"></i><span
									class="sidemenu-label">Dashboard</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link with-sub" href="#"><i class="fe fe-box"></i><span
									class="sidemenu-label">Pages</span><i class="angle fe fe-chevron-right"></i></a>
							<ul class="nav-sub">
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="chart-chartjs.html">Charts</a>
								</li>
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="./alerts.html">Alerts</a>
								</li>
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="./buttons.html">Button</a>
								</li>
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="icons.html"><i class="fe fe-award"></i><span
									class="sidemenu-label">Icons</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link with-sub" href="#"><i class="fe fe-map-pin"></i><span
									class="sidemenu-label">Forms</span><i class="angle fe fe-chevron-right"></i></a>
							<ul class="nav-sub">
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="./form-validation.html">Form Validation</a>
								</li>
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="./form-advanced.html">Form Advance</a>
								</li>
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link with-sub" href="#"><i class="fe fe-layout"></i><span
									class="sidemenu-label">Tables</span><i class="angle fe fe-chevron-right"></i></a>
							<ul class="nav-sub">
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="./icons.html">Icons</a>
								</li>
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="table-data.html">Data Tables</a>
								</li>
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="invoice.html">Invoice</a>
								</li>
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="modals.html">Modals</a>
								</li>
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="profile.html">Profile</a>
								</li>
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="userlist.html">Data Tables</a>
								</li>
							</ul>
						</li>
						<li class="nav-label">Other Pages</li>
						<li class="nav-item">
							<a class="nav-link with-sub" href="#"><i class="fe fe-aperture"></i><span
									class="sidemenu-label">Custom Pages</span><i class="angle fe fe-chevron-right"></i></a>
							<ul class="nav-sub">
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="signin.html">Sign In</a>
								</li>
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="signup.html">Sign Up</a>
								</li>
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="forgot.html">Forgot Password</a>
								</li>
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="404.html">404 Error</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<!-- End Sidemenu -->
			<!-- Main Content-->
			<div class="main-content side-content pt-0">
				<!-- Main Header-->
				<div class="main-header side-header sticky">
					<div class="container-fluid">
						<div class="main-header-left">
							<a class="main-logo d-lg-none" href="index.html">
								<img src="assets/img/brand/logo.png" class="header-brand-img desktop-logo" alt="logo">
								<img src="assets/img/brand/icon.png" class="header-brand-img icon-logo" alt="logo">
								<img src="assets/img/brand/logo-light.png" class="header-brand-img desktop-logo theme-logo"
									alt="logo">
								<img src="assets/img/brand/icon-light.png" class="header-brand-img icon-logo theme-logo"
									alt="logo">
							</a>
							<a class="main-header-menu-icon" href="#" id="mainSidebarToggle"><span></span></a>
						</div>
						<div class="main-header-right">
							<div class="dropdown d-md-flex">
								<a class="nav-link icon full-screen-link">
									<i class="fe fe-maximize fullscreen-button"></i>
								</a>
							</div>
							<div class="dropdown main-profile-menu">
								<a class="main-img-user" href="#"><img alt="avatar" src="assets/img/users/1.jpg"></a>
								<div class="dropdown-menu">
									<div class="header-navheading">
										<h6 class="main-notification-title">Sonia Taylor</h6>
										<p class="main-notification-text">Web Designer</p>
									</div>
									<a class="dropdown-item border-top" href="#">
										<i class="fe fe-user"></i> My Profile
									</a>
									<a class="dropdown-item" href="#">
										<i class="fe fe-edit"></i> Edit Profile
									</a>
									<a class="dropdown-item" href="#">
										<i class="fe fe-settings"></i> Account Settings
									</a>
									<a class="dropdown-item" href="#">
										<i class="fe fe-settings"></i> Support
									</a>
									<a class="dropdown-item" href="#">
										<i class="fe fe-compass"></i> Activity
									</a>
									<a class="dropdown-item" href="signin-2.html">
										<i class="fe fe-power"></i> Sign Out
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Main Header-->
				<div class="container-fluid">
										<!-- Page Header -->
					<div class="page-header">
						<div>
							<h2 class="main-content-title tx-24 mg-b-5">UserList</h2>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#">Advanced UI</a></li>
								<li class="breadcrumb-item active" aria-current="page">UserList</li>
							</ol>
						</div>
						<div class="btn btn-list">
							<a class="btn ripple btn-primary" href="#"><i class="fe fe-external-link"></i> Export</a>
							<a class="btn ripple btn-secondary" href="#"><i class="fe fe-download"></i> Download</a>
							<a class="btn ripple btn-info" href="#"><i class="fe fe-help-circle"></i> Help</a>
							<a class="btn ripple btn-danger dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
								<i class="fe fe-settings"></i> Settings <i class="fas fa-caret-down ml-1"></i>
							</a>
							<div  class="dropdown-menu tx-13">
								<a class="dropdown-item" href="#"><i class="fe fe-eye mr-2"></i>View</a>
								<a class="dropdown-item" href="#"><i class="fe fe-plus-circle mr-2"></i>Add</a>
								<a class="dropdown-item" href="#"><i class="fe fe-mail mr-2"></i>Email</a>
								<a class="dropdown-item" href="#"><i class="fe fe-folder-plus mr-2"></i>Save</a>
								<a class="dropdown-item" href="#"><i class="fe fe-trash-2 mr-2"></i>Remove</a>
								<a class="dropdown-item" href="#"><i class="fe fe-settings mr-2"></i>More</a>
							</div>
						</div>
					</div>
					<!-- End Page Header -->
										<!-- Row -->
					<div class="row">
						<div class="col-sm-12 col-md-6 col-lg-3">
							<div class="card custom-card">
								<div class="card-body text-center">
									<div class="user-lock text-center">
										<div class="dropdown text-right">
											<a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
												<i class="fe fe-more-horizontal text-dark fs-16"></i>
											</a>
											<div class="dropdown-menu dropdown-menu-right shadow">
												<a class="dropdown-item" href="#"><i class="fe fe-message-square mr-2"></i> Message</a>
												<a class="dropdown-item" href="#"><i class="fe fe-edit-2 mr-2"></i> Edit</a>
												<a class="dropdown-item" href="#"><i class="fe fe-eye mr-2"></i> View</a>
												<a class="dropdown-item" href="#"><i class="fe fe-trash-2 mr-2"></i> Delete</a>
											</div>
										</div>
										<img alt="avatar" class="rounded-circle" src="assets/img/users/2.jpg">
									</div>
									<h5 class=" mb-1 mt-3">Socrates Itumay</h5>
									<p class="mb-2 mt-1 tx-inverse">Project Manager</p>
									<p class="text-muted text-center mt-0">Lorem Ipsum is not simply random text to popular belief Contrary.</p>
									<div class="mt-2 user-info btn-list">
										<a class="btn btn-outline-light btn-block" href="#"><i class="fe fe-mail mr-2"></i><span>socrates23@gmail.com</span></a>
										<a class="btn btn-outline-light btn-block" href="#"><i class="fe fe-phone mr-2"></i><span>0-235-657-24587</span></a>
										<a class="btn btn-outline-light  btn-block" href="#"><i class="fe fe-map-pin mr-2"></i><span>California, USA</span></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-3">
							<div class="card custom-card">
								<div class="card-body text-center">
									<div class="user-lock text-center">
										<div class="dropdown text-right">
											<a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
												<i class="fe fe-more-horizontal text-dark fs-16"></i>
											</a>
											<div class="dropdown-menu dropdown-menu-right shadow">
												<a class="dropdown-item" href="#"><i class="fe fe-message-square mr-2"></i> Message</a>
												<a class="dropdown-item" href="#"><i class="fe fe-edit-2 mr-2"></i> Edit</a>
												<a class="dropdown-item" href="#"><i class="fe fe-eye mr-2"></i> View</a>
												<a class="dropdown-item" href="#"><i class="fe fe-trash-2 mr-2"></i> Delete</a>
											</div>
										</div>
										<img alt="avatar" class="rounded-circle" src="assets/img/users/3.jpg">
									</div>
									<h5 class="mb-1 mt-3 ">Reynante Labares</h5>
									<p class="mb-2 mt-1 tx-inverse">Web Designer</p>
									<p class="text-muted text-center mt-1">Lorem Ipsum is not simply random text to popular belief Contrary.</p>
									<div class="mt-2 user-info btn-list">
										<a class="btn  btn-outline-light btn-block" href="#"><i class="fe fe-mail mr-2"></i><span>reynante23@gmail.com</span></a>
										<a class="btn  btn-outline-light btn-block" href="#"><i class="fe fe-phone mr-2"></i><span>0-235-657-24587</span></a>
										<a class="btn  btn-outline-light  btn-block" href="#"><i class="fe fe-map-pin mr-2"></i><span>Wales, UK</span></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-3">
							<div class="card custom-card">
								<div class="card-body text-center">
									<div class="user-lock text-center">
										<div class="dropdown text-right">
											<a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
												<i class="fe fe-more-horizontal text-dark fs-16"></i>
											</a>
											<div class="dropdown-menu dropdown-menu-right shadow">
												<a class="dropdown-item" href="#"><i class="fe fe-message-square mr-2"></i> Message</a>
												<a class="dropdown-item" href="#"><i class="fe fe-edit-2 mr-2"></i> Edit</a>
												<a class="dropdown-item" href="#"><i class="fe fe-eye mr-2"></i> View</a>
												<a class="dropdown-item" href="#"><i class="fe fe-trash-2 mr-2"></i> Delete</a>
											</div>
										</div>
										<img alt="avatar" class="rounded-circle" src="assets/img/users/4.jpg">
									</div>
									<h5 class="mb-1 mt-3 ">Owen Bongcaras</h5>
									<p class="mb-2 mt-1 tx-inverse">App Developer</p>
									<p class="text-muted text-center mt-1">Lorem Ipsum is not simply random text to popular belief Contrary.</p>
									<div class="mt-2 user-info btn-list">
										<a class="btn  btn-outline-light btn-block" href="#"><i class="fe fe-mail mr-2"></i><span>owenbong@gmail.com</span></a>
										<a class="btn  btn-outline-light btn-block" href="#"><i class="fe fe-phone mr-2"></i><span>0-235-657-24587</span></a>
										<a class="btn  btn-outline-light  btn-block" href="#"><i class="fe fe-map-pin mr-2"></i><span>0-235-657-24587</span></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-3">
							<div class="card custom-card">
								<div class="card-body text-center">
									<div class="user-lock text-center">
										<div class="dropdown text-right">
											<a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
												<i class="fe fe-more-horizontal text-dark fs-16"></i>
											</a>
											<div class="dropdown-menu dropdown-menu-right shadow">
												<a class="dropdown-item" href="#"><i class="fe fe-message-square mr-2"></i> Message</a>
												<a class="dropdown-item" href="#"><i class="fe fe-edit-2 mr-2"></i> Edit</a>
												<a class="dropdown-item" href="#"><i class="fe fe-eye mr-2"></i> View</a>
												<a class="dropdown-item" href="#"><i class="fe fe-trash-2 mr-2"></i> Delete</a>
											</div>
										</div>
										<img alt="avatar" class="rounded-circle" src="assets/img/users/8.jpg">
									</div>
									<h5 class="mb-1 mt-3 ">Stephen Metcalfe</h5>
									<p class="mb-2 mt-1 tx-inverse">Administrator</p>
									<p class="text-muted text-center mt-1">Lorem Ipsum is not simply random text to popular belief Contrary.</p>
									<div class="mt-2 user-info btn-list">
										<a class="btn btn-outline-light btn-block" href="#"><i class="fe fe-mail mr-2"></i><span>stephne@gmail.com</span></a>
										<a class="btn btn-outline-light btn-block" href="#"><i class="fe fe-phone mr-2"></i><span>0-235-657-24587</span></a>
										<a class="btn btn-outline-light  btn-block" href="#"><i class="fe fe-map-pin mr-2"></i><span>London, UK</span></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- End Row -->

				</div>
			</div>
			<!-- End Main Content-->
            <!-- Main Footer-->
			<div class="main-footer text-center">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<span>Copyright © 2019 <a href="#">Dashlead</a>. Designed by <a href="#">Spruko</a> All rights reserved.</span>
						</div>
					</div>
				</div>
			</div>
			<!--End Footer-->
		</div>
		<!-- End Page -->
		<!-- Back-to-top -->
		<a href="#top" id="back-to-top"><i class="fe fe-arrow-up"></i></a>

	<!-- Jquery js-->
	<script src="assets/plugins/jquery/jquery.min.js"></script>

	<!-- Bootstrap js-->
	<script src="assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Ionicons js-->
	<script src="assets/plugins/ionicons/ionicons.js"></script>

	<!-- Chart.Bundle js-->
	<script src="assets/plugins/chart.js/Chart.bundle.min.js"></script>
	<!-- index -->
	<script src="assets/js/index.js"></script>

	<!-- Perfect-scrollbar js-->
	<script src="assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>

	<!-- Sidemenu js-->
	<script src="assets/plugins/sidemenu/sidemenu.js"></script>

	<!-- Switcher js-->
	<script src="assets/switcher/js/switcher.js"></script>
	<!-- Custom js-->
	<script src="assets/js/custom.js"></script>

	</body>
</html>